.top-product {
  &__filter {
    display: flex;
    margin-bottom: 45px;
  }

  &__elem {
    &:not(last-chuld) {
      margin-right: 20px;
    }
  }

  &__btn {
    padding: 13px 22px;
    background-color: #ffffff;
    border: 1px #f9faff solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  &__profile {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 30px;
  }

}
.product-list__btn {
border-bottom: 1px solid #000;
padding-bottom: -5px;
}
.mixitup-control-active {
  background-color: $accent;
  color: $white;
}

.mixitup-control-active .top-product__profile {
  fill: $white;
}

.product-card {
  padding: 21px 15px;
  display: inline-block;
  font-size: 15px;
  background-color: $white;
  max-width: 210px;

  &__img {
    margin: 0 20px 10px 20px;
  }

  &__img--long {
    margin: 0 auto;
    margin: 0 20px 10px 20px;
  }

  &__title {

    margin-bottom: 28px;
    line-height: 1.2;
    display: block;
    font-size: 15px;
  }

  &__title--long {
    margin-bottom: 15px;
  }

  &__price {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }

  &--long {
    padding: 18px 10px;
  }

  &__btn {
    font-size: 14px;
    padding: 7px 16px;
    background-color: $accent;
    border-radius: 6px;
    line-height: 130%;
  }
}