body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: $default;
  background-color: #f9faff;

  @include r(992) {
    &.lock {
      overflow-y: hidden;
    }
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
  text-align: center;

  @include r(992) {
    padding: 40px 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.title {
  color: $title;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;

  @include r(1200) {
    font-size: 28px;
  }

  @include r(796) {
    font-size: 24px;
  }
}

.btn {
  padding: 12px 32px;
  background-color: $accent;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  color: $white;
  transition: box-shadow ease-in-out 0.5s, background-color ease 0.5s;

  &:focus {
    background-color: $light-orange;
    color: $accent;
    @extend%orang-border;
  }

  &:hover {
    background-color: transparent;
    color: $accent;
    border-radius: 5px;
    box-shadow: 0 5px 12px 0 rgba(255, 104, 56, 0.2),
      0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:active {
    background-color: $light-orange;
    border: transparent;
    color: $accent;
  }

  @include r(992) {
    font-size: 15px;
  }
}

.text-decoration {
  transition: box-shadow ease-in-out 0.5s, text-decoration linear 0.5s, color ease-in-out 0.7s;

  &:hover {
    color: #ff6838;
  }

  &:focus {
    @extend%orang-border;
  }

  &:active {
    color: $default;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    box-shadow: 0 0 0 0 transparent;
  }
}

.logo{
  transition: box-shadow ease-in-out 0.5s, opacity ease 0.5s,
    opacity ease 0.5s;
  object-fit: cover;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    @extend%orang-border;
  }

  &:active {
    opacity: 0.5;
  }
}

.focus-decoration:focus {
  @extend%orang-border;
}