$accent: #ff6838;
$default: #31352b;
$title: #363853;
$btnfont: #ffffff;

%rub-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rub-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rub-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
