$accent: #ff6838;
$default: #31352b;
$title: #363853;
$white: #ffffff;
$grey: #C2C2C2;
$silver:#ececec;

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
