.app-mobile {
  &__inner {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  &__content {
    width: 44%;
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__link {
    width: 120px;
    height: 40px;
    display: block;

    &--apple {
      margin-right: 30px;
      background-image: url('../../images/appsrote.svg');
    }

    &--google {
      width: 135px;
      background-image: url('../../images/playmarket.svg');
    }
  }
}