.app-mobile {
  &__inner {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  &__content {
    width: 44%;
    padding-top: 40px;
  }

  &__elem {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__title {
    margin-bottom: 45px;
  }

  &__text p {
    margin-bottom: 30px;
    opacity: 0.9;
  }

  &__list {
    display: flex;
  }

  &__img {
    width: 570px;
    height: 380px;
    @extend%bg;
    object-fit: cover;
  }
}