.burger {
  position: relative;
  order: 1;
  padding: 22px;
  display: none;

  @include r(992) {
    display: block;
  }

  &__stripes {
    position: absolute;
    width: 30px;
    right: 1px;
    background-color: $title;
    height: 2px;
    top: 18px;
  }

  &::before,
  &::after {
    width: 30px;
    content: '';
    position: absolute;
    right: 1px;
    height: 2px;
    background-color: $title;
    transition: transform ease 0.5s;
  }

  &::before {
    top: 8px;
  }

  &::after {
    bottom: 14px;
  }

}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  transform: rotate(45deg);
  top: 19px;
}

.burger.active::after {
  transform: rotate(-45deg);
  bottom: 23px;
}