.burger {
  position: relative;
  order: 1;
  padding: 22px;
  display: none;

  @include r(992) {
    display: block;
  }

  &__stripes {
    position: absolute;
    top: 22px;
    width: 30px;
    height: 2px;
    background-color: $title;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $title;
    transition: transform ease 0.5s;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 10px;
  }

}
