.contacts {
  font-size: 16px;
  font-style: normal;
  padding-right: 80px;

  &__item {
    margin-bottom: 20px;
    padding-top: 5px;
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    padding-left: 30px;
    background-size: 24px 22px;
    background-repeat: no-repeat;

    &--location {
      background-image: url("../images/icons/location.svg");
    }

    &--calling {
      background-image: url("../images/icons/calling.svg");
    }

    &--message {
      background-image: url("../images/icons/message.svg");
    }

  }

}