.contacts {
  font-size: 16px;
  font-style: normal;
  padding-right: 80px;

  &__item {
    margin-bottom: 15px;
  }

  &__info {
    padding-left: 30px;
    background-size: 24px 22px;
    background-repeat: no-repeat;
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.contacts__info--location {
  background-image: url("../images/icons/Location.svg");
}

.contacts__info--calling {
  background-image: url("../images/icons/Calling.svg");
}

.contacts__info--message {
  background-image: url("../images/icons/Message.svg");
}
