.form {
  &__input {
    width: 100%;
    margin-bottom: 12px;
    padding: 13px 15px;
    font-size: 14px;
    border: 1px $grey solid;
    border-radius: 5px;

    &:hover::placeholder {
      color: $title;
    }

    &:focus {
      border: 1px $accent solid;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;

    &:hover .form__profile {
      fill: $accent;
    }

    &:focus .form__profile {
      fill: $accent;
    }

    &:active .form__profile {
      fill: $accent;
    }
  }

  &__profile {
    width: 15px;
    height: 15px;
    fill: $white;
  }
}