.header {
  padding: 58px;

  @include r(992) {
    padding: 25px 10px;
  }

  @include r(776) {
    padding: 15px 13px 40px 0;
  }
  
 &-catalog{
  @include r(776) {
    padding: 15px 0 17px 0;
  }
 }
  
  &__img {
    @include r(992) {
      width: 150px;
      height: 30px;
    }

    @include r(776) {
      width: 115px;
      height: 23px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(776) {
      align-items: center;
    }
  }

  &__inner {
    display: flex;

    @include r(992) {
      margin-left: auto;
    }
  }
}