.pagination {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 100%;
    padding: 9px 12px;
    font-size: 18px;
    border-radius: 3px;
    background-color: $light-orange;
    transition: box-shadow ease 0.5s, background-color ease 0.5s;

    &--active {
      border: 1px solid $title;
    }

    &--prev,
    &--next {
      background-size: 11px 18px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--prev {
      background-image: url("../images/content/pagination-prev.svg");
    }

    &--next {
      background-image: url("../images/content/pagination-next.svg");
    }

    &:focus {
      @extend%orang-border;
    }

    &:hover {
      background-color: $accent;
    }

    &:active {
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
    }
  }
}