.social {
  display: flex;

  &__profile {
    width: 20px;
    height: 20px;
    fill: $default;
    stroke: $default;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: block;
    width: 39px;
    height: 39px;
    background-color: $silver;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: box-shadow ease-in-out 0.5s, background-color ease 0.5s;

    &:hover {
      background-color: $accent;
      border-radius: 50%;
    }

    &:focus {
      background-color:$light-orange ;
      @extend%orang-border;
      color: $accent;
      fill:$accent;
      border-radius: 50%;
    }

    &:hover .social__profile {
      fill: $white;
      stroke: $white;
    }

    &:active {
      background-color:$light-orange ;
      border-radius: 50%;
    }

    &:active .social__profile {
      fill: $accent;
      stroke: $accent;
      box-shadow: transparent;
    }
  }
}

