.burger-menu {
  position: fixed;
  padding: 25px 0 0 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  max-width: 300px;
  background-color: $white;
  transform: translateX(-200%);
  overflow: hidden;
  transition: transform 0.5s;

  &.active {
    transform: translateY(0);
    transition: transform 0.7s;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  @include r(992) {
    display: block;
  }

  &__btn {

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 45px;
      right: 30px;
      width: 30px;
      height: 2px;
      background-color: $title;
      transition: transform ease 0.5s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


  &__item {
    padding: 25px 0 40px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.2);
  }


  &__elem {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    padding: 10px 0;
  }
}