.user-nav {
  position: relative;
  display: flex;

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow ease-in-out 0.5s, text-decoration linear 0.5s, background-color ease 0.5s;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &:hover {
      background-color: $accent;
      border-radius: 5px;
    }

    &:hover .user-nav__profile {
      stroke: $white;
    }

    &:hover+.user-nav__num {
      background-color: $white;
      color: $accent;
    }

    &:focus {
      background-color: $light-orange;
      @extend%orang-border;
    }

    &:focus .user-nav__profile {
      stroke: $default;
    }

    &:active {
      background-color: $light-orange;
      border-radius: 5px;
    }
  }

  &__profile {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #000;
    stroke-width: 1.5;
  }

  &__num {
    position: absolute;
    padding: 1px 4px 1px 4px;
    font-size: 10px;
    color: $white;
    background-color: $accent;
    border-radius: 100%;
    text-align: center;
    right: 5px;
    top: 5px;
  }
}