.about {
  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    padding-left: 70px;
    position: relative;

    @include r(767) {
      justify-content: center;
      padding-left: 0;
    }
  }

  &__content {
    width: 41%;
    padding-top: 60px;
    position: relative;
    z-index: 2;

    @include r(1200) {
      width: 48%;
    }

    @include r(992) {
      padding-top: 35px;
      width: 55%;
    }

    @include r(767) {
      width: 87%;
    }

    @include r(576) {
      width: 100%;
    }
  }

  &__text p {
    margin-bottom: 30px;
    opacity: 0.9;
    @include line-clamp(20, 1.5, 5);

    @include r(1200) {
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 35px;
  }

  &__elem {
    color: $title;
    padding-left: 65px;
    background-size: 34px 34px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--timer {
      background-image: url("../images/content/timer-icon.svg");
    }

    &--delivery {
      background-image: url("../images/content/delivery-icon.svg");
    }

    &--restaurant {
      background-image: url("../images/content/restaurant-icon.svg");
    }

    @include r(1200) {
      font-size: 18px;
      padding-left: 40px;
      background-size: 28px 28px;
    }
  }

  &__img {
    width: 440px;
    height: 585px;
    margin-right: 120px;
    @extend%bg;
    object-fit: cover;
    background-size: contain;

    @include r(1200) {
      margin-right: 45px;
    }

    @include r(992) {
      width: 348px;
      max-height: 462px;
    }

    @include r(767) {
      position: absolute;
      opacity: 0.3;
      margin-right: 0;
    }
  }
}