.about {
  &__title {
    margin-bottom: 30px;
    max-width: 98%;
    @include line-clamp(36, 1.3, 2);
  }

  &__inner {
    display: flex;
    padding-left: 70px;

  }

  &__content {
    width: 41%;
    padding-top: 60px;
  }

  &__text p {
    margin-bottom: 30px;
    opacity: 0.9;
    @include line-clamp(20, 1.5, 5);
  }

  &__list {
    margin-bottom: 35px;
  }

  &__elem {

    color: $title;
    padding-left: 65px;
    background-size: 34px 34px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
     &:not(:last-child) {
      margin-bottom: 20px;
      @include line-clamp(24, 1.5, 1);
    }

    &--timer {
      background-image: url('../images/content/timer-icon.svg');
    }

    &--delivery {
      background-image: url('../images/content/delivery-icon.svg');
    }

    &--restaurant {
      background-image: url('../images/content/restaurant-icon.svg');
    }

    @include line-clamp(24, 1.5, 1);
  }

  &__img {
    width: 440px;
    height: 585px;
    margin-right: 120px;
    @extend%bg;
    object-fit: cover;
  }
}