.advantage {
  @include r(767) {
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
   justify-content: space-around;
   align-items: center;

    @include r(767) {
      position: relative;
      justify-content: center;
      padding-left: 0;
    }
  }

  &__content {
    max-width: 470px;
  
    @include r(992) {
      padding-top: 30px;
    }

    @include r(767) {
      z-index: 2;
    }
  }

  &__text p {
    margin-bottom: 30px;
    opacity: 0.9;
    @include line-clamp(20, 1.5, 5);

    @include r(1200) {
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 35px;

    @include r(767) {
      margin-bottom: 25px;
    }
  }

  &__elem {
    display: flex;
    align-items: center;
    padding-left: 65px;
    color: $title;
    font-size: 24px;
    background-size: 34px 34px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--timer {
      background-image: url("../images/content/timer-icon.svg");
    }

    &--delivery {
      background-image: url("../images/content/delivery-icon.svg");
    }

    &--restaurant {
      background-image: url("../images/content/restaurant-icon.svg");
    }

    @include r(1200) {
      font-size: 18px;
      background-size: 32px 32px;
      padding: 1px 0 3px 45px;
    }
  }

  &__img {
    width: 440px;
    height: 585px;
    @extend%bg;
    background-size: contain;

    @include r(992) {
      width: 348px;
      max-height: 462px;
      margin-right: 60px;
      @include r(767) {
        opacity: 0.2;
      }
    }

    @include r(767) {
      position: absolute;
      margin-right: 0;
      padding-left: 40px;
    }
  }
}