.top-product {
  @include r(776) {
  padding: 70px 0 27px 0;
  }
  &__filter {
    display: flex;
    margin-bottom: 45px;

    @include r(1200) {
      padding: 3px 0 9px 0;
      overflow-x:auto;
          scroll-snap-type: x mandatory; 
    }
    @include r(1200) {
      margin-bottom: 15px;
    }
  }

  &__elem {
    &:not(:last-child) {
      margin-right: 20px;
    }

    @include r(992) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 32px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #e5e5e5;
    border-radius: 5px;
    transition: box-shadow ease-in-out 0.5s, background-color ease 0.5s;

    @include r(1200) {
      scroll-snap-align: start;
      scroll-snap-stop:always ;
      white-space: nowrap;
      font-size: 18px;
    }

    @include r(767) {
      padding: 11px 14px;
      font-size: 14px;
    }

    &:focus {
      @extend%orang-border;
    }

    &:hover {
      background-color: $light-orange;
      @extend%orang-border;
      color: $accent;
      fill: $accent;
    }

    &:hover .top-product__profile {
      fill: $accent;
    }

    &:active {
      box-shadow: inset 0 -5px 12px 0 rgba(255, 104, 56, 0.2);
      border-radius: 5px;
    }
  }

  &__filter-btn {
    padding: 2px;
    line-height: 0.8;

    @include r(776) {
      padding: 14px 0;
    }

    &:hover,
    &:active {
      border: transparent;
    }
  }

  &__profile {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    @include r(1200) {
      width: 38px;
      height: 38px;
    }

    @include r(767) {
      width: 20px;
      height: 18px;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include r(992) {
      margin-bottom: 25px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 60px;

    @include r(992) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 45px;
    }

    @include r(767) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      margin-bottom: 21px;
    }

    @include r(576) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  .mixitup-control-active {
    background-color: $accent;
    color: $white;
  }

  .mixitup-control-active .top-product__profile {
    fill: $white;
  }
}