.top-restaurans {
  text-align: center;
  padding: 120px 0 85px 0;

  &__title {
    margin-bottom: 45px;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
  }

}

@import "../components/_restauran-card";