.top-restaurans {
  text-align: center;
  padding: 120px 0 85px 0;

  &__title {
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

@import "../components/_restauran-card";